form {
  width: 400px;
  max-width: 100%;
  padding: 15px;
  margin: auto;
}

.mat-form-field {
  width: 100%;
  margin: 15px 0;
}

.row.buttons {
  text-align: right;
}

.row.buttons button {
  margin-left: 15px;
}
